body {
  font-family: 'Ubuntu', sans-serif;
}

#map {
	float: right;
    margin: 1%;
    width: 50%;
    height: 500px;
}

button.chosen-button {
  border: 1px solid #aaa;
  background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
  background-image: linear-gradient(#fff 50%, #eee 50%);
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  display: inline-block;
  line-height:22px;
  -webkit-box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.article-container {
  float: left;
  width: 40%;
  margin-left: 5px;
  padding: 1em;
	margin-top: 1px;
}

div.ol-attribution {
  bottom: 30px;
  right: 50px;
}

ul.inline,
ol.inline {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

ul.inline>li,
ol.inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.ol-attribution.ol-logo-only,
.ol-attribution.ol-uncollapsible {
  max-width: calc(100% - 3em);
  height: 1.5em;
}
.ol-attribution ul {
  font-size: 1rem;
}
.ol-control button, .ol-attribution, .ol-scale-line-inner {
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}
